img {
  width: 150px;
}
img#apple {
  height: 100px;
}
body {
  background-color: lightgray;
}
.fruit {
  float: left;
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
}
.buy {
  background-color: lightgreen;
  width: 60px;
  height: 30px;
}
